extends layout

block content
    h1.mt-3 Articles
    br
    a.btn.btn-primary(href="/articles/write") Create new Article
    
    each duo in articles
        .row.mt-5
            each article in duo
                .col-sm-6
                    .card
                        .card-body
                            h5.card-title= article.title + " [By " + article.writtenBy + "]"
                            p.card-text= article.snippet
                            a.btn.btn-primary(href="/articles/view/"+article._id) Read More...