extends layout

block content
    h1.mt-3 Departmental Rooms
    br
    ul.list-group
        a.list-group-item.list-group-item-action(href="/chats/comp") Computer Engineering
        a.list-group-item.list-group-item-action(href="/chats/mech") Mechanical Engineering
        a.list-group-item.list-group-item-action(href="/chats/civil") Civil Engineering
        a.list-group-item.list-group-item-action(href="/chats/it") Information Technology
        a.list-group-item.list-group-item-action(href="/chats/etx") Electrical Engineering
