extends layout

block content
    h1 Edit Article
    br
    form(method="POST", action="/articles/edit/"+article._id)

        .form-group
            .form-row
                .col-8
                    label Title
                    input.form-control(name="title", type="text", placeholder="Your Title...", value=article.title)

        .form-group
            .form-row
                .col-8
                    label Content
                    textarea.form-control(name="content", rows="9", placeholder="Your content...")= article.content
                    small.form-text.text-muted Character limit: 7000
        
        input.btn.btn-primary(type="submit", value="Submit")