doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Alumni tracker
        link(rel="stylesheet", type="text/css", href="/css/bootstrap.css")
        link(rel="stylesheet", type="text/css", href="/public/chatRoom.css")
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            a.navbar-brand(href='/') AlmTracker
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#mainNavbar', aria-controls='mainNavbar', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #mainNavbar.collapse.navbar-collapse

                if auth
                    ul.nav.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href='/users/listing') Alumni
                        li.nav-item
                            a.nav-link(href="/articles/listing") Articles
                        li.nav-item
                            a.nav-link(href="/forum") Forum
                        li.nav-item
                            a.nav-link(href="/chats") Chat
                        li.nav-item
                            a.nav-link(href="/mentorship") Mentorship
                        if admin
                            li.nav-item.dropdown
                                a.nav-link.dropdown-toggle(href="#", id="verifMenu", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Verify
                                .dropdown-menu(aria-labelledby="verifMenu")
                                    a.dropdown-item(href="/users/verify") Users
                                    a.dropdown-item(href="/articles/verify") Articles

                    ul.nav.navbar-nav.ml-auto
                        li.nav-item.dropdown.dropleft.mr-5
                            a.nav-link.dropdown-toggle(href="#", id="profileMenu", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Profile
                            .dropdown-menu(aria-labelledby="profileMenu")
                                img.dropdown-item.rounded-circle(src="/images/"+reqUser._id)
                                .dropdown-divider
                                a.dropdown-item(href="/dashboard") Dashboard
                                a.dropdown-item(href="#", onclick="document.getElementById('logout-form').submit()") Logout
                                form(action="/users/logout?_method=DELETE", method="POST", id="logout-form")

                else
                    ul.nav.navbar-nav.ml-auto
                        li.nav-item.mr-4
                            a.nav-link(href="/users/register") Register
                        li.nav-item.mr-5
                            a.nav-link(href="/users/login") Login

        .container
            .container
                != messages("messages", locals)
            block content
            br
            hr
            footer
                p Copyright &copy; 2020

        script(src="/js/jquery.js")
        script(src="/js/bootstrap.js")