extends layout

block content
    h1.mt-4 Login
    br
    form(method="POST", action="/users/login")

        .form-group
            .form-row
                .col-6
                    label Email
                    input.form-control(name="email", type="text")

        .form-group
            .form-row
                .col-6
                    label Password
                    input.form-control(name="password", type="password")

        input.btn.btn-primary(type="submit", value="Login")