extends layout

block content
    h1 Users
    ul.list-group
        each user, i in users
            a.list-group-item.list-group-item-action(href="/users/dashboard/"+user._id)= user.firstName + " " + user.lastName