extends layout

block content
    h1 Pending Articles

    ul.list-group
        each art, ind in pending
            a.list-group-item.list-group-item-action(href="/articles/view/"+art._id)= art.title + " [By " + art.writtenBy + "]"